.thumbnail{
	height: 80px;
	border-radius: 100%;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.col-10{
	max-width:100%;
}

.menu-high{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 10px;
}
.btn-primary{
	background-color: slateblue;
	border-color: slateblue;
}

.btnContinue{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: end;
}

p{
	margin: 0;
}

.table th,td {
	border: 2px solid #dee2e6;
	text-align:center;
	vertical-align: middle;
	padding:7px;
}

@media screen and (max-width: 750px) {
	.itemPicture{
		display: none;
	}
	td {
		width:30%;
	}
	.col-2{
		flex:0;
		max-width:100%
	}
}
