.sticky-top {
	top: 80px;
}

.list-group-item.active {
	background-color: slateblue;
	border-color: slateblue;
}

@media screen and (max-width: 750px) {
	.list-group-item.list-group-item-action {
    padding: 10px;
	}
}
