<p>
	<a routerLink="/admin/products/new"class="btn btn-primary">Ajouter un produit</a>
</p>
<p>
	<input #query
	 (keyup)="filter(query.value)"
	 type="text" class="form-control" placeholder="Rechercher un produit">
</p>
<data-table
	[items]="items"
	[itemCount]="itemCount"
	(reload)="reloadItems($event)"
>
	<data-table-column
		[property]="'title'"
		[header]="'Titre'"
		[sortable]="true"
		[resizable]="true"
	>
	</data-table-column>
	<data-table-column
		[property]="'price'"
		[header]="'Prix'"
		[sortable]="true"
		[resizable]="true"
	>
		<ng-template #dataTableCell let-item="item">
			 {{item.price | currency:'EUR':true }}
		</ng-template>
	</data-table-column>
	<data-table-column
		[property]="'$key'"
		[header]="''"
	>
		<ng-template #dataTableCell let-item="item">
	    	<a [routerLink]="['/admin/products/',item.$key]">Edit</a>
		</ng-template>
	</data-table-column>
</data-table>
