<div class="rowParent">
	<div class="col-3">
		<product-filter *ngIf="appUser "  [category]="category"></product-filter>
	</div>
	<div class="col-9">
		<div class="rowChild" *ngIf="cart$ | async as cart">
			<ng-container *ngFor="let p of filteredProducts; let i = index">
				<div class="col">
					<product-card [product]="p" [shopping-cart]="cart"></product-card>
				</div>
				<div *ngIf="(i + 1)%2 === 0"class="w-100"></div>
			</ng-container>
    	</div>
	</div>
</div>
<div *ngIf="!appUser ">


  <div class="gallerie" style="">
		<div class="logoSlogan">
	    <img  alt="Logo "  src="https://drive.google.com/uc?export=view&id=1OvsFmG5i8WJya0eoVPbRC7DRNka1hBDn">
			<div class="slogan"> Laissez le bio vous surprendre !</div>
		</div>
		<section id="articleDM">
			<ul>
				<li><img src="https://i.pinimg.com/originals/f0/4a/2d/f04a2da079c9b9ef8b73be7389446f43.jpg" alt="Pomme"></li>
				<li><img src="https://us.123rf.com/450wm/kovalevaka/kovalevaka1701/kovalevaka170100010/69848109--fresh-green-pear-half-isolated-on-white-background-as-package-design-element-.jpg?ver=6" alt="Poire"></li>
				<li><img src="https://us.123rf.com/450wm/buriy/buriy1409/buriy140900028/31372659--orange-fruits-with-slices-isolated-on-white-background-clipping-path-.jpg?ver=6" alt="Orange"></li>
				<li><img src="https://img-3.journaldesfemmes.fr/Y80Tv_whjHLpqe5xj4zfhEKnGww=/910x607/smart/7cd11422bbd64b76ad8c0b8ff3dc0e3a/ccmcms-jdf/10659032.jpg" alt="Avocat"></li>
				<li><img src="https://us.123rf.com/450wm/utima/utima1502/utima150200027/36245158-cherry-avec-laisse-isolé-sur-fond-blanc-.jpg?ver=6" alt="Cerise"></li>
				<li><img src="https://us.123rf.com/450wm/atoss/atoss1501/atoss150100072/35473780-ail-isol-sur-fond-blanc.jpg?ver=6" alt="Ail"></li>
				<li><img src="https://us.123rf.com/450wm/buriy/buriy1409/buriy140900075/31590967-bulbes-d-oignons-frais-isolé-sur-fond-blanc.jpg?ver=6" alt="Oignon"></li>
				<li><img src="https://us.123rf.com/450wm/utima/utima1602/utima160200076/53405200-carotte-tas-de-légumes-isolé-sur-blanc.jpg?ver=6" alt="Carotte"></li>
				<li><img src="https://us.123rf.com/450wm/utima/utima1603/utima160300151/54252959--two-strawberries-isolated-on-white-background-.jpg?ver=6" alt="Fraise"></li>
				<li><img src="https://www.cathyprimeurs.com/images/Image/Concombre.jpg" alt="Concombre"></li>
				<li><img src="https://i.pinimg.com/originals/f0/4a/2d/f04a2da079c9b9ef8b73be7389446f43.jpg" alt="Pomme"></li>
				<li><img src="https://us.123rf.com/450wm/kovalevaka/kovalevaka1701/kovalevaka170100010/69848109--fresh-green-pear-half-isolated-on-white-background-as-package-design-element-.jpg?ver=6" alt="Poire"></li>
			</ul>
		</section>
	</div>

	<div class="firstText">

		<h5>Avec <span class="bluespan">DevonMarket</span>, vos fruits et légumes <span class="bluespan">Bio</span> cueillis le matin et livrés le lendemain !</h5>

    <p id="DMText">En matière de goût, le chemin le plus court est toujours le meilleur…
      C’est pourquoi chez <span class="bluespan">DevonMarket</span>, la proximité nous tient à coeur ! Proximité des fruits, légumes et produits frais que nous sélectionnons pour vous mais aussi proximité entre vous, consommateurs gourmands & exigeants, et <span class="bluespan">nos producteurs locaux</span> avec qui nous partageons les mêmes valeurs : transparence, qualité gustative et modes de production raisonnés et respectueux de l’environnement.
      Notre pari ? Vous faire (re)commander <span class="bluespan">DevonMarket</span> les yeux fermés ! </p>

    <button class="comment">Accedez en vous connectant avec un compte gmail</button>
  </div>
</div>
