<div class="row">
	<div class="col-3">
		<product-filter [category]="category"></product-filter>
	</div>
	<div class="col-9">
		<div class="row" *ngIf="cart$ | async as cart">
			<ng-container *ngFor="let p of filteredProducts; let i = index">
				<div class="col">
					<product-card [product]="p" [shopping-cart]="cart"></product-card>
				</div>
				<div *ngIf="(i + 1)%2 === 0"class="w-100"></div>
			</ng-container>
    	</div>
	</div>
</div>
<div *ngIf="!appUser ">
	<div class="slogan_logo">
			<div class="logo">
				<img src ="https://drive.google.com/uc?export=view&id=1ROiOaLLMfXH6uex4HvbxuDFJwLB58eRA" alt="logoDevon">
				<div class="slogan"> Laissez le bio vous surprendre !</div>
			</div>
			<section id="articleDM">
        <ul>
					<li><img src="https://i.pinimg.com/originals/f0/4a/2d/f04a2da079c9b9ef8b73be7389446f43.jpg" alt="Pommes"></li>
					<li><img src="https://image.shutterstock.com/image-photo/grapes-on-white-background-260nw-1197566971.jpg" alt="Raisins"></li>
					<li><img src="https://previews.123rf.com/images/usersam2007/usersam20071902/usersam2007190200016/117335641-green-yellow-pear-fruit-isolated-on-white-background-with-clipping-path-full-depth-of-field-.jpg" alt="Poires"></li>
					<li><img src="https://lh3.googleusercontent.com/proxy/oZAax-VBUP-jMXNs1S2JpzXCGqxN7SnudvuZ0Ip6cJzIsPdadA51f-zsQ1YRLb1CZgl2pPaUJJCaGLpZJHCG" alt="Oranges"></li>
					<li><img src="https://img-3.journaldesfemmes.fr/Y80Tv_whjHLpqe5xj4zfhEKnGww=/910x607/smart/7cd11422bbd64b76ad8c0b8ff3dc0e3a/ccmcms-jdf/10659032.jpg" alt="Avocat"></li>
					<li><img src="https://i.pinimg.com/originals/f0/4a/2d/f04a2da079c9b9ef8b73be7389446f43.jpg" alt="Pommes"></li>
					<li><img src="https://image.shutterstock.com/image-photo/grapes-on-white-background-260nw-1197566971.jpg" alt="Raisins"></li>
					<li><img src="https://previews.123rf.com/images/usersam2007/usersam20071902/usersam2007190200016/117335641-green-yellow-pear-fruit-isolated-on-white-background-with-clipping-path-full-depth-of-field-.jpg" alt="Poires"></li>
					<li><img src="https://img-3.journaldesfemmes.fr/Y80Tv_whjHLpqe5xj4zfhEKnGww=/910x607/smart/7cd11422bbd64b76ad8c0b8ff3dc0e3a/ccmcms-jdf/10659032.jpg" alt="Avocat"></li>
					<!-- <li><img src="../IMG/jpg/fiat-abarth-500-assetto-corse-2.jpg" alt="Abarth 500" style="height:188px;width:250px;" width="250" height="188"></li> -->
				</ul>
      </section>
	</div>

	<div class="Connectetoimec">
		<h5>Avec <span style="color:#ff9f40">DevonMarket</span>, vos fruits et légumes <span style="color:#ff9f40">Bio</span> cueillis le matin et livrés le lendemain !</h5>
		<p>En matière de goût, le chemin le plus court est toujours le meilleur…
			C’est pourquoi chez <span style="color:#ff9f40">DevonMarket</span>, la proximité nous tient à coeur ! Proximité des fruits, légumes et produits frais que nous sélectionnons pour vous mais aussi proximité entre vous, consommateurs gourmands & exigeants, et <span style="color:#ff9f40">nos producteurs locaux</span> avec qui nous partageons les mêmes valeurs : transparence, qualité gustative et modes de production raisonnés et respectueux de l’environnement.
			Notre pari ? Vous faire (re)commander <span style="color:#ff9f40">DevonMarket</span> les yeux fermés ! </p>
	</div>
</div>
