.Connectetoimec {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 3vh;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.slogan_logo{
  width: 100%;
  height: 650px;
  position: relative;
  background-color: #f9d7bb;
}

.logo {
  width:100%;
  text-align:center;
  position: relative;
}

.logo img{
  width: 300px;
  height: 300px;
}

.slogan {
  text-align: center;
  font-size: 22px;
  font-family: Calibri;
  font-style: italic;
  color: slateblue;
  position: absolute;
  top: 60%;
  left: 39%;
}

section {
  overflow:hidden;
  border-block: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 5px;
}

#articleDM ul{
     display: table;
     -webkit-animation: slideAnim 20s ease 0s infinite;
        -moz-animation: slideAnim 20s ease 0s infinite;
         -ms-animation: slideAnim 20s ease 0s infinite;
          -o-animation: slideAnim 20s ease 0s infinite;
             animation: slideAnim 20s ease 0s infinite;
}

#articleDM ul li{
     display: table-cell;
     width:300px;
     height:auto;
}

#articleDM img {
  width: 250px !important;
  height: 300px !important;
  padding: 0px 10px;
}

#articleDM ul {
  width: 100%;
  margin:unset;
  padding-left:10%;
}

@keyframes slideAnim{
from,11%,to {margin-left:-100px;}
15%,26%{margin-left:-400px;}
30%,41%{margin-left:-700px;}
45%,56%{margin-left:-1000px;}
65%,76%{margin-left:-1300px;}
80%,91%{margin-left:-1600px;}
99.99%{margin-left:-1900px;}
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 300;
}

h1, p {
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: inherit;
  line-height: 1.5;
  color: slateblue;
}

.comment{
  background-color: slateblue;
  color: white
}

.comment:hover{
  background-color: darkslateblue;
}

p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #282828;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: inherit;
  letter-spacing: 0.03rem;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  color: #282828;
  cursor: pointer;
}



header {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}
